/* @import "./Components/Header/Header.css"; */

/* spinner  */
.spinner {
  height: 60vh;
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* spinner  */

/* common css  */
.container-c {
  margin: 0 auto;
  width: 90% !important;
}

.btn-cust {
  color: white;
  background-color: #9ac100;
  border: none;
  border-radius: 20px;
  font-size: 17px;
  padding: 6px 40px;
  margin: 20px 0px 5rem;
}
/* common css  */

/* Website feature */
.websiteFeature {
  padding: 30px 30px 0;
  border: 1px solid #e1e1e1;
  margin-bottom: 50px;
}
.no-padding {
  padding: 0px 10px !important;
}

.websiteFeature .boxservice {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  justify-content: space-around;
}
.websiteFeature .boxservice .image {
  margin-right: 10px;
}
.websiteFeature .boxservice .content {
  padding-left: 1rem;
}
.websiteFeature .boxservice h4 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  margin: 0 0 5px;
  font-family: "red Hat Display", "Helvetica", "Arial", "sans-serif";
}
.websiteFeature .boxservice .service__desc {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  font-weight: 400;
  font-family: "red Hat Display", "Helvetica", "Arial", "sans-serif";
}

/* Website feature */

/* Best seller */
.bestSeller {
  margin-bottom: 50px;
}
.bestSeller .heading h1 {
  font-weight: 700;
  font-family: "red Hat Display", "Helvetica", "Arial", "sans-serif";
  font-size: 28px;
  line-height: 32px;
  text-align: center;
}
.bestSeller .heading p {
  font-weight: 400;
  font-family: "red Hat Display", "Helvetica", "Arial", "sans-serif";
  font-size: 14px;
  text-align: center;
}

/* Best seller */

/* Demo product */

.demoProduct .text__content {
  text-align: center;
}
.demoProduct .iamge {
  padding-bottom: 30px;
}
.demoProduct .category {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "red Hat Display", "Helvetica", "Arial", "sans-serif";
}
.demoProduct .title {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: "red Hat Display", "Helvetica", "Arial", "sans-serif";
}
.demoProduct .price {
  font-size: 15px;
  font-weight: 400;
  font-family: "red Hat Display", "Helvetica", "Arial", "sans-serif";
}
/* Demo product */

/* Image offers */

.imageOffers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 193px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  overflow: hidden;
}

.imageOffers::after {
  content: "";
  display: block;
}

.imageOffers .img1 {
  grid-area: 1 / 1 / 2 / 2;
}
.imageOffers .img2 {
  grid-area: 1 / 2 / 3 / 3;
}
.imageOffers .img2 img {
  /* height: 200px; */
  height: auto;
}
.imageOffers .img3 {
  grid-area: 1 / 3 / 2 / 4;
}
.imageOffers .img4 {
  grid-area: 2 / 1 / 3 / 2;
}
.imageOffers .img5 {
  grid-area: 2 / 3 / 3 / 4;
}

/* /* Image offers  */

/* nEW Arraivle */
.newArriavleTab ul {
  margin: 20px 0 30px;
  padding: 0px;
  position: relative;
  text-align: center;
}
.newArriavleTab ul li {
  display: inline-block;
  position: relative;
}
.newArriavleTab li.active a {
  color: #9ac100 !important;
}
.newArriavleTab li a {
  color: #2f3237;
  padding: 0 30px;
  font-size: 16px;
  margin: 0 auto;
  display: block;
  font-weight: 700;
  text-decoration: none;
  background-color: transparent;
}
.newArriavleTab .buttonName {
  display: block;
  text-decoration: uppercase;
}
/* .NewArraivle {
} */
.NewArraivle .text__section .heading {
  font-weight: 700;
  font-family: "red Hat Display", "Helvetica", "Arial", "sans-serif";
  font-size: 28px;
  line-height: 32px;
  color: #2f3237;
  text-align: center;
}
.NewArraivle .text__section .description {
  font-weight: 400;
  font-family: "red Hat Display", "Helvetica", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 18px;
  color: #666666;
  text-align: center;
}
.NewArraivle .tab__section .active-tabs {
  color: green;
  /* background-color: green; */
}

.NewArraivle .buttons {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  align-items: center;
}
/* nEW Arraivle */

/* latest blog post */
.latestBlogPost {
  padding-bottom: 50px;
}
.latestBlogPost .text__section h1 {
  padding: 0 0 5px;
  margin: 0;
  position: relative;
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  color: #2f3237;
  font-family: red Hat Display;
  text-align: center;
}
.latestBlogPost .text__section p {
  color: #666666;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 5px auto 10px;
  display: block;
  text-align: center;
}
.latestBlogPost image {
  height: 240px;
}
.latestBlogPost .articleDesc {
  /* height: 240px; */
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: red Hat Display, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #666666;
  font-weight: 400;
  user-select: none;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 0px;
  line-height: 24px;
  margin-bottom: 15px;
}
.latestBlogPost .flexJustifyCenter {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: red Hat Display, Helvetica, Arial, sans-serif;
  font-weight: 400;
  user-select: none;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  line-height: 20px;
  color: #8c8c8c;
  font-size: 14px;
}

.latestBlogPost .btnReadMore {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: red Hat Display, Helvetica, Arial, sans-serif;
  line-height: 24px;
  user-select: none;
  text-align: center;
  box-sizing: border-box;
  background-color: transparent;
  text-decoration: none;
  touch-action: manipulation;
  font-size: 14px;
  font-weight: 700;
  color: #2f3237;
  border-bottom: 1px solid #2f3237;
  text-align: center;
}

/* latest blog post */

/* logo tab */
.logoTab {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoTab img {
  margin: 0 auto;
}
.logoTab span {
  display: block;
}

/* Logo tab */

/* Logo List */
.logoList {
  border: 1px solid #e1e1e1;
}
.logoList .logoContent {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* Logo List */

/* Footer */

/* Footer */

/* Center footer */
#centerFooter .footerCenterInner {
  padding: 60px 0px 30px;
}
.footerCenter .rowFlex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.footerCenter .rowFlexMargin {
  margin-left: -15px;
  margin-right: -15px;
}

.footerCenter .mb20 {
  margin-bottom: 20px !important;
}

.mbItemGutter {
  margin-bottom: 30px;
}

.footerCenter .mb10 {
  margin-bottom: 10px !important;
}

.footerCenter .centerFooterTitle {
  font-family: red Hat Display;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 30px;
  text-transform: uppercase;
  color: #2f3237;
}

.footerCenter .list-unstyled {
  padding-left: 0;
  list-style: none;
}

#centerFooter .centerFooterLinks li a {
  padding: 6px 0;
  color: #666666;
  display: block;
  font-size: 16px;
}

.mbItemGutter {
  margin-bottom: 30px;
}

#centerFooter .ContentInfo .Content {
  padding-left: 80px;
}

#centerFooter .ContentInfo .paymentLogoInner {
  max-width: 100%;
}

.footerCenter .p-relative {
  position: relative;
}

.footerCenter .product-card__image {
  position: relative;
  overflow: hidden;
}

.footerCenter .no-js .placeholder-background--animation {
  display: none;
}
/* Center footer */

/* Bottom footer */
.bottomFooter {
  background-color: #444;
  color: white;
}
.bottomFooter .footer-content {
  padding: 30px 0 20px;
}
.bottomFooter .footer-content .copyright {
  font-family: red Hat Display;
  float: left;
  margin: 0 0 10px;
}
.bottomFooter .footer-content .links {
  float: right;
}
.bottomFooter .footer-content .list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.bottomFooter .footer-content .list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.bottomFooter .footer-content .list-inline > li a {
  color: white !important;
}

.bottomFooter .footer-content .list-inline > li a:hover {
  color: greenyellow !important;
}

/* Bottom footer */

/* Product side bar  */
.btn-cus:focus {
  box-shadow: none !important;
  margin-left: 10px;
}

/* Product side bar  */

/* Slider.css */
/* Slider.css */

.slider {
  margin-bottom: 40px;
}

.slider label {
  color: #888;
  font-size: 0.8rem;
  margin-bottom: 20px;
  display: block;
  text-transform: capitalize;
}

.input-range__slider {
  background: #e27a3f;
  border: none;
}

.input-range__track {
  background: #ddd;
}

.input-range__track--active {
  background: #9ac100;
}

.input-range__label--value .input-range__label-container {
  background: #9ac100;
  color: white;
  font-size: 0.65rem;
  padding: 2px 5px;
  border-radius: 2px;
}

.input-range__label--min .input-range__label-container,
.input-range__label--max .input-range__label-container {
  font-size: 0.65rem;
  color: #888;
  left: 0;
}

.input-range__label--max .input-range__label-container {
  left: 25%;
}
.input-range__slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ffffff !important;
  border: 5px solid #9ac100 !important;
}

.input-range__track--active {
  background: #9ac100 !important;
}

/* Slider.css */

/* Navigation.css */

.navigation {
  flex-basis: 20%;
  min-width: 100%;
}
