/* @import "./Components/Header/Header.css"; */

/* Website feature */
.websiteFeature {
  padding: 30px 30px 0;
  border: 1px solid #e1e1e1;
  margin-bottom: 50px;
}
.no-padding {
  padding: 0px 10px !important;
}

.websiteFeature .boxservice {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  justify-content: space-around;
}
.websiteFeature .boxservice .image {
  margin-right: 10px;
}
.websiteFeature .boxservice .content {
  padding-left: 1rem;
}
.websiteFeature .boxservice h4 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  margin: 0 0 5px;
  font-family: "red Hat Display", "Helvetica", "Arial", "sans-serif";
}
.websiteFeature .boxservice .service__desc {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  font-weight: 400;
  font-family: "red Hat Display", "Helvetica", "Arial", "sans-serif";
}

/* Website feature */

/* Best seller */
.bestSeller {
  margin-bottom: 50px;
}
.bestSeller .heading h1 {
  font-weight: 700;
  font-family: "red Hat Display", "Helvetica", "Arial", "sans-serif";
  font-size: 28px;
  line-height: 32px;
  text-align: center;
}
.bestSeller .heading p {
  font-weight: 400;
  font-family: "red Hat Display", "Helvetica", "Arial", "sans-serif";
  font-size: 14px;
  text-align: center;
}

/* Best seller */

/* Demo product */

.demoProduct .text__content {
  text-align: center;
}
.demoProduct .iamge {
  padding-bottom: 30px;
}
.demoProduct .category {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "red Hat Display", "Helvetica", "Arial", "sans-serif";
}
.demoProduct .title {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: "red Hat Display", "Helvetica", "Arial", "sans-serif";
}
.demoProduct .price {
  font-size: 15px;
  font-weight: 400;
  font-family: "red Hat Display", "Helvetica", "Arial", "sans-serif";
}
/* Demo product */

/* Image offers */

.imageOffers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 193px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  overflow: hidden;
}

.imageOffers::after {
  content: "";
  display: block;
}

.imageOffers .img1 {
  grid-area: 1 / 1 / 2 / 2;
}
.imageOffers .img2 {
  grid-area: 1 / 2 / 3 / 3;
}
.imageOffers .img2 img {
  /* height: 200px; */
  height: auto;
}
.imageOffers .img3 {
  grid-area: 1 / 3 / 2 / 4;
}
.imageOffers .img4 {
  grid-area: 2 / 1 / 3 / 2;
}
.imageOffers .img5 {
  grid-area: 2 / 3 / 3 / 4;
}

/* /* Image offers  */

/* nEW Arraivle */
/* .NewArraivle {
} */
.NewArraivle .text__section .heading {
  font-weight: 700;
  font-family: "red Hat Display", "Helvetica", "Arial", "sans-serif";
  font-size: 28px;
  line-height: 32px;
  color: #2f3237;
  text-align: center;
}
.NewArraivle .text__section .description {
  font-weight: 400;
  font-family: "red Hat Display", "Helvetica", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 18px;
  color: #666666;
  text-align: center;
}
.NewArraivle .tab__section .active-tabs {
  color: green;
  /* background-color: green; */
}

.NewArraivle .buttons {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  align-items: center;
}
/* nEW Arraivle */

/* logo tab */
.logoTab {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoTab img {
  margin: 0 auto;
}
.logoTab span {
  display: block;
}

/* Logo tab */

/* Logo List */
.logoList {
  border: 1px solid #e1e1e1;
}
.logoList .logoContent {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* Logo List */

/* Footer */

/* Footer */

/* Bottom footer */
.bottomFooter {
  background-color: #444;
  color: white;
}
.bottomFooter .footer-content {
  padding: 30px 0 20px;
}
.bottomFooter .footer-content .copyright {
  font-family: red Hat Display;
  float: left;
  margin: 0 0 10px;
}
.bottomFooter .footer-content .links {
  float: right;
}
.bottomFooter .footer-content .list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.bottomFooter .footer-content .list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.bottomFooter .footer-content .list-inline > li a {
  color: white !important;
}

.bottomFooter .footer-content .list-inline > li a:hover {
  color: greenyellow !important;
}

/* Bottom footer */
