/* Header top css  */

.headerTop {
  width: 100%;
  height: 45px;
  background-color: #444444;
  font-size: 14px;
}

.headerTop .container {
  width: 100%;
  background-color: #444444;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.headerTop .left {
  display: flex;
}
.headerTop .right {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.headerTop .btn-success {
  background-color: transparent !important;
  border: none;
  outline: none;
  box-shadow: none;
}

.headerTop .dropdown-toggle {
  border: none;
  box-shadow: none;
}

.headerTop .dropdown-toggle:focus {
  border: none;
  box-shadow: none;
}

.headerTop .btn-success.dropdown-toggle:focus {
  box-shadow: none !important;
}

.headerTop .social-link {
  color: white;
  /* background-color: white; */
  font-size: 20px;
}

/* header middle css included here */

.headerMiddle {
  height: 90px;
}

/* .headerMiddle .container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;

} */

.headerMiddle .site-logo img {
  width: 124px;
}

.headerMiddle .inputFiled {
  display: block;
  width: 100%;
}

.headerMiddle .inputFiled .form-controll {
  border-width: 2px;
  height: 50px;
  padding: 9px 50px 9px 20px;

  display: block;
  width: 100%;
  height: 50px;
  padding: 9px 20px;
  font-size: 16px;
  line-height: 1.45;
  color: #666666;
  background-color: white;
  background-image: none;
  border: 1px solid #e1e1e1;
  border-radius: 30px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.btnVelaSearch {
  position: absolute !important;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #9ac100;
  border: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  font-size: 24px;
}

#velaSearchTop .btnVelaSearch .icons {
  display: inline-block;
}
.btnVelaSearch .icons .search-icon {
  width: 22px;
  height: 22px;
}

.headerMiddle .row {
  align-items: center;
  height: 90px;
}

.headerMiddle .personAndCart {
  display: flex;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 14px;
  justify-content: space-evenly;
  line-height: 28px;
}

.headerMiddle .personAndCart svg {
  font-size: 34px;
}

.headerMiddle .numAndInput .numbers {
  display: flex;
  flex-direction: row;
}

.headerMiddle .numAndInput .numbers .call-icon {
  width: 50px;
  height: 50px;
}

.headerMiddle .numAndInput .numbers .wrap {
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.headerMiddle .numAndInput .numbers .wrap span {
  font-weight: 400 !important;
}
